<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    <p>Choose a currency:</p>
    <p>
        <select size=5 th:name="code" >
            <option th:each="list: ${list}" th:text="${list}" th:value="${list}"/>
        </select>
    </p>
    <p><input type="submit" value="Calc Mood"/></p>
</form>
<p>Yesterday: <a th:text="${yesterdayRates}"/></p>
<p>Current: <a th:text="${currentRates}"/></p>
<img th:src="${gif}">
</body>
</html>